#bg {
    background-size: cover;
}

#fileUpload{
    visibility: hidden;
}

.img-viewer{
    height: 30rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}