<div id="bg" class="h-screen p-4">
    <div class="container mx-auto">
        <div class="rounded shadow flex flex-col bg-white">
            <div class="flex flex-row p-4">
                <img id="user-pic" class="rounded-full h-12 w-12 shadow-inner"/>
                <div id="username" class="my-auto ml-4 text-2xl"></div>
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded h-10 my-auto ml-auto" (click)="deleteUser()">
                    Eliminar usuario
                </button>
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded h-10 my-auto ml-4" (click)="logOut()">
                    Salir
                </button>
            </div>
            <div class="h-px w-full bg-gray-300"></div>
            <div class="p-4 flex flex-col">
                <div class="flex flex-row">
                    <div id="imgPreview" class="img-viewer w-full h-full"></div>
                    <div id="imgResultPreview" class="img-viewer w-full h-full"></div>
                </div>
                <div class="flex flex-row">
                    <div class="w-1/2 text-center">Original</div>
                    <div class="w-1/2 text-center">Resultado</div>
                </div>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded h-10 mx-auto my-6 border-none" (click)="openDialog()">
                    Abrir imagen
                </button>
            </div>
        </div>
    </div>
</div>
<input type="file" name="imageUpload" id="fileUpload">